@model IEnumerable<APIDAW.Models.DocumentType>
@{
	ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<script>

</script>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ระบบจัดการอนุมัติเอกสารแบบพลวัต</title>
</head>
<body>
	<div class="col-md-12">
		<div class="panel panel-primary ">
			<div class="panel-heading ">จัดการประเภทเอกสาร</div>
			<div class="panel-body">
				<div>
					<a class="btn btn-primary" onclick="Get_modal_add()"><span class="glyphicon glyphicon-plus"></span> เพิ่มประเภทเอกสาร</a>
				</div>
				<br><br>
				<div>
					<table class="table table-hover" style="word-break: break-all;">
						<thead>
							<tr>
								<th style="text-align:center">ลำดับ</th>
								<th style="text-align:center">ชื่อประเภทเอกสาร (TH)</th>
								<th style="text-align:center">ชื่อประเภทเอกสาร (EN)</th>
								<th style="text-align:center">ดำเนินการ</th>
							</tr>
						</thead>
						<tbody id="table_data">
							@{int i = 0; }
							@foreach (var item in Model)
							{
								i++;
								<tr style="text-align:center">
									<td>@i</td>
									<td>@Html.DisplayFor(modelItem => item.NameTH)</td>
									<td>@Html.DisplayFor(modelItem => item.NameEN)</td>
									<td>
										<a class="btn btn-warning" onclick="Get_modal_edit('@item.Id','@item.NameTH','@item.NameEN')"><span class="glyphicon glyphicon-pencil"></span></a>
										<a class="btn btn-danger" onclick="Delete('@item.Id')"><span class="glyphicon glyphicon-trash"></span></a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	@*start modal add*@
	<div class="modal fade" id="modal_add_document_type" role="dialog">
		@*start modal*@
		<div class="modal-dialog modal-lg">
			@*start modal dialog*@
			<div class="modal-content">
				@*start modal content*@
				<div class="modal-header">
					@*start modal header*@
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="modal-title" id="modal-title"><h2>เพิ่มประเภทเอกสาร</h2></div>
				</div>@*End modal header*@
				<div class="modal-body">
					@*start modal body*@
					<div class="col-md-12">
						@*start col*@
						<div class="col-md-4" style="text-align:right">
							<label>ชื่อประเภทเอกสาร(TH) :</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" id="Add_NameTH"> </input>
						</div>
					</div> @*End col*@
					<br><br><br>
					<div class="col-md-12">
						@*start col*@
						<div class="col-md-4" style="text-align:right">
							<label>ชื่อประเภทเอกสาร(EN) :</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" id="Add_NameEN"> </input>
						</div>
					</div> @*End col*@
					<br><br><br>
					<div class="col-md-12">
						@*start col*@
						<div style="text-align:right;">
							<a class="btn btn-success" onclick="Add()">บันทึก</a>
							<a class="btn btn-default" data-dismiss="modal">ยกเลิก</a>
						</div>
					</div>@*End col*@
					<br><br>
				</div>@*End modal body*@
			</div>@*End modal content*@
		</div>@*End modal dialog*@
	</div>@*End modal*@
	@*End modal add*@

	@*start modal edit*@
	<div class="modal fade" id="modal_edit_document_type" role="dialog">
		@*start modal*@
		<div class="modal-dialog modal-lg">
			@*start modal dialog*@
			<div class="modal-content">
				@*start modal content*@
				<div class="modal-header">
					@*start modal header*@
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="modal-title" id="modal-title"><h2>แก้ไขประเภทเอกสาร</h2></div>
				</div>@*End modal header*@
				<div class="modal-body">
					@*start modal body*@
					<div class="col-md-12">
						@*start col*@
						<div class="col-md-4" style="text-align:right">
							<label>ชื่อประเภทเอกสาร(TH) :</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" id="Edit_NameTH"> </input>
						</div>
					</div> @*End col*@
					<br><br><br>
					<div class="col-md-12">
						@*start col*@
						<div class="col-md-4" style="text-align:right">
							<label>ชื่อประเภทเอกสาร(EN) :</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" id="Edit_NameEN"> </input>
						</div>
					</div> @*End col*@
					<br><br><br>
					<div class="col-md-12">
						@*start col*@
						<div style="text-align:right;">
							<a class="btn btn-success" onclick="Edit()">บันทึก</a>
							<a class="btn btn-default" data-dismiss="modal">ยกเลิก</a>
						</div>
					</div>@*End col*@
					<br><br>
				</div>@*End modal body*@
			</div>@*End modal content*@
		</div>@*End modal dialog*@
	</div>@*End modal*@
	@*End modal edit*@
</body>
</html>

<script type="text/javascript">
	var ID = 0;
	$(document).ajaxStart($.blockUI);
	function Get_modal_add() {
		$('#modal_add_document_type').modal('show');
	}
	function Get_modal_edit(id, NameTH, NameEN) {
		$('#modal_edit_document_type').modal('show');
		$("#Edit_NameTH").val(NameTH);
		$("#Edit_NameEN").val(NameEN);
		ID = id;
	}
	function Add() {
		var textdata = "";
		var test = $("#Add_NameEN").val();
		alert(test);
		$.getJSON('@Url.Action("Insert_document_type", "Admin")', {
			NameTH: $("#Add_NameTH").val(), NameEN: $("#Add_NameEN").val()
		}, function (data) {
			var i = 1;
			var count = 0;
			$.each(data, function (i, DataDoc) {
				var text = "";
				text = '<tr style="text-align:center"><td>value1</td><td>value2</td><td>value3</td><td><a class="btn btn-warning" onclick="Get_modal_edit(value4)" ><span class="glyphicon glyphicon-pencil"></span> </a> <a class="btn btn-danger" onclick="Delete(value5)"><span class="glyphicon glyphicon-trash"></span></a></td></tr>'
				count++;
				text = text.replace("value1", count);
				text = text.replace("value2", DataDoc.NameTH);
				text = text.replace("value3", DataDoc.NameEN);
				text = text.replace("value4", "'" + DataDoc.Id + "','" + DataDoc.NameTH + "','" + DataDoc.NameEN + "'");
				text = text.replace("value5", DataDoc.Id);
				textdata = textdata + text;
			});

			$('#table_data').empty();
			$('#table_data').append(textdata);
			});
		setTimeout($.unblockUI, 500);
		$('#modal_add_document_type').modal('hide');
		$("#Add_NameTH").val("");
		$("#Add_NameEN").val("");
	}

	function Edit() {
		var textdata = "";
		$.getJSON('@Url.Action("Update_document_type", "Admin")', {
			Id:ID,NameTH: $("#Edit_NameTH").val(), NameEN: $("#Edit_NameEN").val()
		}, function (data) {
			var i = 1;
			var count = 0;
			$.each(data, function (i, DataDoc) {
				var text = "";
				text = '<tr style="text-align:center"><td>value1</td><td>value2</td><td>value3</td><td><a class="btn btn-warning" onclick="Get_modal_edit(value4)" ><span class="glyphicon glyphicon-pencil"></span></a> <a class="btn btn-danger" onclick="Delete(value5)"><span class="glyphicon glyphicon-trash"></span></a></td></tr>'
				count++;
				text = text.replace("value1", count);
				text = text.replace("value2", DataDoc.NameTH);
				text = text.replace("value3", DataDoc.NameEN);
				text = text.replace("value4", "'" + DataDoc.Id + "','" + DataDoc.NameTH + "','" + DataDoc.NameEN + "'");
				text = text.replace("value5", DataDoc.Id);
				textdata = textdata + text;
			});

			$('#table_data').empty();
			$('#table_data').append(textdata);
			});
		setTimeout($.unblockUI, 500);
		$('#modal_edit_document_type').modal('hide');
	}

	function Delete(id) {
		var textdata = "";
		swal({
			title: "ต้องการลบหรือไม่?",
			text: "เมื่อลบแล้วจะไม่สามารถนำข้อมูลกลับมาได้!",
			icon: "warning",
			buttons: true,
			dangerMode: true,
		})
			.then((willDelete) => {
				if (willDelete) {
					$.getJSON('@Url.Action("Delete_document_type", "Admin")', {
					Id:id
					}, function (data) {
						var count = 0;
						$.each(data, function (i, DataDoc) {
							var text = "";
							text = '<tr style="text-align:center"><td>value1</td><td>value2</td><td>value3</td><td><a class="btn btn-warning" onclick="Get_modal_edit(value4)" ><span class="glyphicon glyphicon-pencil"></span> แก้ไข</a> <a class="btn btn-danger" onclick="Delete(value5)"><span class="glyphicon glyphicon-trash"></span> ลบสถานะ</a></td></tr>'
							count++;
							text = text.replace("value1", count);
							text = text.replace("value2", DataDoc.NameTH);
							text = text.replace("value3", DataDoc.NameEN);
							text = text.replace("value4", "'" + DataDoc.Id + "','" + DataDoc.NameTH + "','" + DataDoc.NameEN + "'");
							text = text.replace("value5", DataDoc.Id);
							textdata = textdata + text;
						});
						$('#table_data').empty();
						$('#table_data').append(textdata);
					});
					setTimeout($.unblockUI, 500);
					swal("ลบสำเร็จ", {
						icon: "success",
					});
				} else {
					swal("ยกเลิก");
				}
			});
	}
</script>