@using APIDAW.Models;
@model IEnumerable<APIDAW.Models.ViewUserDpm>
@{
	ViewBag.Title = "Layout Page";
	List<Department> departments = ViewBag.Department;
	List<ViewUserDpm> getdatas = ViewBag.Getdata;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ระบบจัดการอนุมัติเอกสารแบบพลวัต</title>
</head>
<body>
	<div class="col-md-12">
		<div class="panel panel-primary ">
			<div class="panel-heading ">จัดการบัญชีผู้ใช้</div>
			<div class="panel-body">
				<div>
					<a class="btn btn-primary" onclick="Get_modal_add()"><span class="glyphicon glyphicon-plus"></span> เพิ่มบัญชีผู้ใช้</a>
				</div>
				<br><br>
				<div>
					<table class="table table-hover " style="word-break: break-all;">
						<thead>
							<tr>
								<th style="text-align:center">ลำดับ</th>
								<th style="text-align:center">ชื่อ - นามสกุล (TH)</th>
								<th style="text-align:center">ชื่อ - นามสกุล (EN)</th>
								<th style="text-align:center">แผนก</th>
								<th style="text-align:center">ตำแหน่ง</th>
								<th style="text-align:center">อีเมล</th>
								<th style="text-align:center">เบอร์ติดต่อ</th>
								<th style="text-align:center">สถานะ</th>
								<th style="text-align:center">ดำเนินการ</th>
							</tr>
						</thead>
						<tbody id="table_data">
							@{int i = 0; }
							@foreach (var item in Model)
							{
								i++;
							<tr style="text-align:center">
								<td>@i</td>
								<td>@item.NameTH @item.LastNameTH</td>
								<td>@item.NameEN @item.LastNameEN</td>
								<td>@item.NameTH_Dpm</td>

								@{ if (item.IsLeader == true)
									{
										<td>หัวหน้า</td>
									}
									else
									{
										<td>พนักงานทั่วไป</td>
									}
								}

								<td>@item.Email</td>
								<td>@item.PhoneNumber</td>
								@{
									if (item.IsActive == true)
									{
										<td>ใช้งาน</td>

									}
									else
									{
										<td>ไม่ใช้งาน</td>
									}
								}
								
								@{
									if (item.IsActive == true)
									{
										<td>
											<a class="btn btn-warning" onclick="Get_modal_edit('@item.Id','@item.NameTH','@item.NameEN','@item.LastNameTH','@item.LastNameEN','@item.PhoneNumber','@item.Email','@item.Id_Dpm','@item.IsLeader','true')"><span class="glyphicon glyphicon-pencil"></span></a>
											<a class="btn btn-danger" onclick="Delete('@item.Id')"><span class="glyphicon glyphicon-trash"></span></a>
										</td>
									}
									else
									{
										<td>
											<a class="btn btn-warning" onclick="Get_modal_edit('@item.Id','@item.NameTH','@item.NameEN','@item.LastNameTH','@item.LastNameEN','@item.PhoneNumber','@item.Email','@item.Id_Dpm','@item.IsLeader','false')"><span class="glyphicon glyphicon-pencil"></span></a>
											<a class="btn btn-danger" onclick="Delete('@item.Id')"><span class="glyphicon glyphicon-trash"></span></a>
										</td>
									}
								}		
							</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	@*modal add*@
	<div class="modal fade" id="modal_add_user" role="dialog">
		@*start modal fade*@
		<div class="modal-dialog modal-lg">
			@*start modal dialog*@
			<div class="modal-content">
				@*start modal content*@
				<div class="modal-header">
					@*start modal header*@
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="modal-title" id="modal-title"><h2>เพิ่มบัญชีผู้ใช้</h2></div>
				</div> @*End modal header*@
				<div class="modal-body">
					@*start modal body*@
					<div class="col-md-12" style="text-align:right">
						@*start col*@
						<div class="col-md-2">
							<label>ชื่อ(TH) :</label>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="Add_NameTH"> 
						</div>
						<div class="col-md-2">
							<label>นามสกุล(TH) :</label>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="Add_SurnameTH"> 
						</div>
					</div> @*End col*@
					<br><br><br>
					<div class="col-md-12" style="text-align:right">
						@*start col*@
						<div class="col-md-2">
							<label>ชื่อ(EN) :</label>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="Add_NameEN"> 
						</div>
						<div class="col-md-2">
							<label>นามสกุล(EN) :</label>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="Add_SurnameEN"> 
						</div>
					</div> @*End col*@
					<br><br><br>
					<div class="col-md-12" style="text-align:right">
						@*start col*@
						<div class="col-md-2">
							<label>เบอร์ติดต่อ :</label>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="Phone"> 
						</div>
						<div class="col-md-2">
							<label>อีเมล :</label>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="Email"> 
						</div>
					</div> @*End col*@
					<br><br><br>
					<div class="col-md-12" style="text-align:right">
						@*start col*@
						<div class="col-md-2">
							<label>แผนก :</label>
						</div>
						<div class="col-md-4">
							@Html.DropDownList("Department", new SelectList(departments, "Id", "NameTH"), "กรุณาเลือกแผนก", new { @class = "form-control" })
						</div>
						<div class="col-md-2">
							<label>ตำแหน่ง :</label>
						</div>
						<div class="col-md-4">
							<select id="Position" class="form-control">
								<option >กรุณาเลือกตำแหน่ง</option>
								<option value="true">หัวหน้า</option>
								<option value="false">พนักงานทั่วไป</option>
							</select>
						</div>
					</div> @*End col*@
					<br><br><br>
					<div class="col-md-12">
						@*start col*@
						<div class="col-md-2" style="text-align:right">
							<label>สถานะ :</label>
						</div>
						<div class="col-md-4 radio">
							<form id="Status">
								<input type="radio" name="Status" value="true">ใช้งาน &emsp;&emsp;
								<input type="radio" name="Status" value="false">ไม่ใช้งาน
							</form>
						</div>
					</div> @*End col*@
					<br><br>
					<div class="col-md-12">
						@*start col*@
						<div style="text-align:right;">
							<a class="btn btn-success" onclick="Add()">บันทึก</a>
							<a class="btn btn-default" data-dismiss="modal">ยกเลิก</a>
						</div>
					</div>@*End col*@
					<br><br>
				</div> @*End modal body*@
			</div>@*End modal content*@
		</div>@*End modal dialog*@
	</div>@*End modal fade*@
	@*End modal add*@

	@*modal edit*@
	<div class="modal fade" id="modal_edit_user" role="dialog">
		@*start modal fade*@
		<div class="modal-dialog modal-lg">
			@*start modal dialog*@
			<div class="modal-content">
				@*start modal content*@
				<div class="modal-header">
					@*start modal header*@
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="modal-title" id="modal-title"><h2>เพิ่มบัญชีผู้ใช้</h2></div>
				</div> @*End modal header*@
				<div class="modal-body">
					@*start modal body*@
					<div class="col-md-12" style="text-align:right">
						@*start col*@
						<div class="col-md-2">
							<label>ชื่อ(TH) :</label>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="Edit_NameTH"> 
						</div>
						<div class="col-md-2">
							<label>นามสกุล(TH) :</label>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="Edit_SurnameTH">
						</div>
					</div> @*End col*@
					<br><br><br>
					<div class="col-md-12" style="text-align:right">
						@*start col*@
						<div class="col-md-2">
							<label>ชื่อ(EN) :</label>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="Edit_NameEN">
						</div>
						<div class="col-md-2">
							<label>นามสกุล(EN) :</label>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="Edit_SurnameEN">
						</div>
					</div> @*End col*@
					<br><br><br>
					<div class="col-md-12" style="text-align:right">
						@*start col*@
						<div class="col-md-2">
							<label>เบอร์ติดต่อ :</label>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="Edit_Phone"> 
						</div>
						<div class="col-md-2">
							<label>อีเมล :</label>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="Edit_Email"> 
						</div>
					</div> @*End col*@
					<br><br><br>
					<div class="col-md-12" style="text-align:right">
						@*start col*@
						<div class="col-md-2">
							<label>แผนก :</label>
						</div>
						<div class="col-md-4">
							@Html.DropDownList("Edit_Department", new SelectList(departments, "Id", "NameTH"), "กรุณาเลือกแผนก", new { @class = "form-control" })
						</div>
						<div class="col-md-2">
							<label>ตำแหน่ง :</label>
						</div>
						<div class="col-md-4">
							<select id="Edit_Position" class="form-control">
								<option>กรุณาเลือกตำแหน่ง</option>
								<option id="Edit_Position1" value="true">หัวหน้า</option>
								<option id="Edit_Position2" value="false">พนักงานทั่วไป</option>
							</select>
						</div>
					</div> @*End col*@
					<br><br><br>
					<div class="col-md-12">
						@*start col*@
						<div class="col-md-2" style="text-align:right">
							<label>สถานะ :</label>
						</div>
						<div class="col-md-4 radio">
							<form id="Edit_Status">
								<input type="radio" name="Edit_Status" id="Edit_Status1" value="true">ใช้งาน &emsp;&emsp;
								<input type="radio" name="Edit_Status" id="Edit_Status2" value="false">ไม่ใช้งาน
							</form>
						</div>
					</div> @*End col*@
					<br><br>
					<div class="col-md-12">
						@*start col*@
						<div style="text-align:right;">
							<a class="btn btn-success" onclick="Edit()">บันทึก</a>
							<a class="btn btn-default" data-dismiss="modal">ยกเลิก</a>
						</div>
					</div>@*End col*@
					<br><br>
				</div> @*End modal body*@
			</div>@*End modal content*@
		</div>@*End modal dialog*@
	</div>@*End modal fade*@
	@*End modal edit*@
</body>
</html>

<script type="text/javascript">
	var ID = 0;
	$(document).ajaxStart($.blockUI);
	function Get_modal_add() {
		$('#modal_add_user').modal('show');
	}
	function Get_modal_edit(id, NameTH, NameEN, LastnameTH, LastnameEN, Phone, Email, Id_Dpm, IsLeader, IsActive) {
		$('#modal_edit_user').modal('show');
		$("#Edit_NameTH").val(NameTH);
		$("#Edit_SurnameTH").val(LastnameTH);
		$("#Edit_NameEN").val(NameEN);
		$("#Edit_SurnameEN").val(LastnameEN);
		$("#Edit_Phone").val(Phone);
		$("#Edit_Email").val(Email);
		$("#Edit_Department").val(Id_Dpm);
		if (IsActive == "true") {

			$('#Edit_Status1').prop("checked", true);
		}
		else{
			$('#Edit_Status2').prop("checked", true);
		}
		if (IsLeader == "onclick" || IsLeader == "true") {
			$('#Edit_Position1').prop("selected", true);
		}
		else {
			$('#Edit_Position2').prop("selected", true);
		}
		ID = id;

	}
	function Add() {
		var textdata = "";
		var text1 = $('input[name=Status]:checked', '#Status').val();
		var text2 = $("#Position").val();
		$.getJSON('@Url.Action("Insert_user", "Admin")', {
			NameTH: $("#Add_NameTH").val(), LastNameTH: $("#Add_SurnameTH").val()
			, NameEN: $("#Add_NameEN").val(), LastNameEN: $("#Add_SurnameEN").val()
			, PhoneNumber: $("#Phone").val(), Email: $("#Email").val()
			, DepartmentId: $("#Department").val(), IsLeader: $("#Position").val()
			, IsActive: $('input[name=Status]:checked', '#Status').val()
		}, function (data) {
			var i = 1;
			var count = 0;
			$.each(data, function (i, DataDoc) {
				var text = "";
				text += '<tr style="text-align:center"><td>value1</td><td>value2 value3</td><td>value4 value5</td>'
				text += '<td>value6</td>'
				if (DataDoc.IsLeader == true)
				{
					text += '<td>หัวหน้า</td>'
				}
				else
				{
					text += '<td>พนักงานทั่วไป</td>'
				} 
				text += '<td>value8</td > <td>value9</td>'
				if (DataDoc.IsActive == true)
				{
					text += '<td>ใช้งาน</td>'
				} else {
					text += '<td>ไม่ใช้งาน</td>'
				} 
				if (DataDoc.IsActive == true) {
					text += '<td><a class="btn btn-warning" onclick="Get_modal_edit(value12)"><span class="glyphicon glyphicon-pencil"></span></a> <a class="btn btn-danger" onclick="Delete(value13)"><span class="glyphicon glyphicon-trash"></span></a></td>'
				}else {
					text += '<td><a class="btn btn-warning" onclick="Get_modal_edit(value14)"><span class="glyphicon glyphicon-pencil"></span></a> <a class="btn btn-danger" onclick="Delete(value15)"><span class="glyphicon glyphicon-trash"></span></a></td>'
				}
				count++;
				text = text.replace("value1", count);
				text = text.replace("value2", DataDoc.NameTH);
				text = text.replace("value3", DataDoc.LastNameTH);
				text = text.replace("value4", DataDoc.NameEN);
				text = text.replace("value5", DataDoc.LastNameEN);
				text = text.replace("value6", DataDoc.NameTH_Dpm);
				text = text.replace("value8", DataDoc.Email);
				text = text.replace("value9", DataDoc.PhoneNumber);
				text = text.replace("value12", "'" + DataDoc.Id + "','" + DataDoc.NameTH + "','" + DataDoc.LastNameTH + "','" + DataDoc.NameEN + "','" + DataDoc.LastNameEN + "','" + DataDoc.PhoneNumber + "','" + DataDoc.Email + "','" + DataDoc.Id_Dpm + "','" + DataDoc.IsLeader + "','" + true + "'");
				text = text.replace("value13", DataDoc.Id);
				text = text.replace("value14", "'" + DataDoc.Id + "','" + DataDoc.NameTH + "','" + DataDoc.LastNameTH + "','" + DataDoc.NameEN + "','" + DataDoc.LastNameEN + "','" + DataDoc.PhoneNumber + "','" + DataDoc.Email + "','" + DataDoc.Id_Dpm + "','" + DataDoc.IsLeader + "','" + false + "'");
				text = text.replace("value15", DataDoc.Id);
				textdata = textdata + text;
			});

			$('#table_data').empty();
			$('#table_data').append(textdata);
			});
		setTimeout($.unblockUI, 500);
		$('#modal_add_user').modal('hide');
		$("#Add_NameTH").val("");
		$("#Add_NameEN").val("");
	}

	function Edit() {
		var textdata = "";
		$.getJSON('@Url.Action("Update_user", "Admin")', {
			Id:ID,NameTH: $("#Edit_NameTH").val(), LastNameTH: $("#Edit_SurnameTH").val()
			, NameEN: $("#Edit_NameEN").val(), LastNameEN: $("#Edit_SurnameEN").val()
			, PhoneNumber: $("#Edit_Phone").val(), Email: $("#Edit_Email").val()
			, DepartmentId: $("#Edit_Department").val(), IsLeader: $("#Edit_Position").val()
			, IsActive: $('input[name=Edit_Status]:checked', '#Edit_Status').val()
		}, function (data) {
			var i = 1;
			var count = 0;
			$.each(data, function (i, DataDoc) {
				var text = "";
				text += '<tr style="text-align:center"><td>value1</td><td>value2 value3</td><td>value4 value5</td>'
				text += '<td>value6</td>'
				if (DataDoc.IsLeader == true) {
					text += '<td>หัวหน้า</td>'
				}
				else {
					text += '<td>พนักงานทั่วไป</td>'
				}
				text += '<td>value8</td > <td>value9</td>'
				if (DataDoc.IsActive == true) {
					text += '<td>ใช้งาน</td>'
				} else {
					text += '<td>ไม่ใช้งาน</td>'
				}
				if (DataDoc.IsActive == true) {
					text += '<td><a class="btn btn-warning" onclick="Get_modal_edit(value12)"><span class="glyphicon glyphicon-pencil"></span></a> <a class="btn btn-danger" onclick="Delete(value13)"><span class="glyphicon glyphicon-trash"></span></a></td>'
				} else {
					text += '<td><a class="btn btn-warning" onclick="Get_modal_edit(value14)"><span class="glyphicon glyphicon-pencil"></span></a> <a class="btn btn-danger" onclick="Delete(value15)"><span class="glyphicon glyphicon-trash"></span></a></td>'
				}
				count++;
				text = text.replace("value1", count);
				text = text.replace("value2", DataDoc.NameTH);
				text = text.replace("value3", DataDoc.LastNameTH);
				text = text.replace("value4", DataDoc.NameEN);
				text = text.replace("value5", DataDoc.LastNameEN);
				text = text.replace("value6", DataDoc.NameTH_Dpm);
				text = text.replace("value8", DataDoc.Email);
				text = text.replace("value9", DataDoc.PhoneNumber);
				text = text.replace("value12", "'" + DataDoc.Id + "','" + DataDoc.NameTH + "','" + DataDoc.LastNameTH + "','" + DataDoc.NameEN + "','" + DataDoc.LastNameEN + "','" + DataDoc.PhoneNumber + "','" + DataDoc.Email + "','" + DataDoc.Id_Dpm + "','" + DataDoc.IsLeader + "','" + true + "'");
				text = text.replace("value13", DataDoc.Id);
				text = text.replace("value14", "'" + DataDoc.Id + "','" + DataDoc.NameTH + "','" + DataDoc.LastNameTH + "','" + DataDoc.NameEN + "','" + DataDoc.LastNameEN + "','" + DataDoc.PhoneNumber + "','" + DataDoc.Email + "','" + DataDoc.Id_Dpm + "','" + DataDoc.IsLeader + "','" + false + "'");
				text = text.replace("value15", DataDoc.Id);
				textdata = textdata + text;
			});

			$('#table_data').empty();
			$('#table_data').append(textdata);
			});
		setTimeout($.unblockUI, 500);
		$('#modal_edit_user').modal('hide');
	}

	function Delete(id) {
		var textdata = "";
		swal({
			title: "ต้องการลบหรือไม่?",
			text: "เมื่อลบแล้วจะไม่สามารถนำข้อมูลกลับมาได้!",
			icon: "warning",
			buttons: true,
			dangerMode: true,
		})
			.then((willDelete) => {
				if (willDelete) {
					$.getJSON('@Url.Action("Delete_user", "Admin")', {
					Id:id
					}, function (data) {
						var count = 0;
						$.each(data, function (i, DataDoc) {
							var text = "";
							text += '<tr style="text-align:center"><td>value1</td><td>value2 value3</td><td>value4 value5</td>'
							text += '<td>value6</td>'
							if (DataDoc.IsLeader == true) {
								text += '<td>หัวหน้า</td>'
							}
							else {
								text += '<td>พนักงานทั่วไป</td>'
							}
							text += '<td>value8</td > <td>value9</td>'
							if (DataDoc.IsActive == true) {
								text += '<td>ใช้งาน</td>'
							} else {
								text += '<td>ไม่ใช้งาน</td>'
							}
							if (DataDoc.IsActive == true) {
								text += '<td><a class="btn btn-warning" onclick="Get_modal_edit(value12)"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-danger" onclick="Delete(value13)"><span class="glyphicon glyphicon-trash"></span></a></td>'
							} else {
								text += '<td><a class="btn btn-warning" onclick="Get_modal_edit(value14)"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-danger" onclick="Delete(value15)"><span class="glyphicon glyphicon-trash"></span></a></td>'
							}
							count++;
							text = text.replace("value1", count);
							text = text.replace("value2", DataDoc.NameTH);
							text = text.replace("value3", DataDoc.LastNameTH);
							text = text.replace("value4", DataDoc.NameEN);
							text = text.replace("value5", DataDoc.LastNameEN);
							text = text.replace("value6", DataDoc.NameTH_Dpm);
							text = text.replace("value8", DataDoc.Email);
							text = text.replace("value9", DataDoc.PhoneNumber);
							text = text.replace("value12", "'" + DataDoc.Id + "','" + DataDoc.NameTH + "','" + DataDoc.LastNameTH + "','" + DataDoc.NameEN + "','" + DataDoc.LastNameEN + "','" + DataDoc.PhoneNumber + "','" + DataDoc.Email + "','" + DataDoc.Id_Dpm + "','" + DataDoc.IsLeader + "','" + true + "'");
							text = text.replace("value13", DataDoc.Id);
							text = text.replace("value14", "'" + DataDoc.Id + "','" + DataDoc.NameTH + "','" + DataDoc.LastNameTH + "','" + DataDoc.NameEN + "','" + DataDoc.LastNameEN + "','" + DataDoc.PhoneNumber + "','" + DataDoc.Email + "','" + DataDoc.Id_Dpm + "','" + DataDoc.IsLeader + "','" + false + "'");
							text = text.replace("value15", DataDoc.Id);
							textdata = textdata + text;
						});
						$('#table_data').empty();
						$('#table_data').append(textdata);
					});
					setTimeout($.unblockUI, 500);
					swal("ลบสำเร็จ", {
						icon: "success",
					});
				} else {
					swal("ยกเลิก");
				}
			});
	}
</script>